[2020-02-28 20:04] openshift-merge-robot opened #13 "Future Release Branches Frozen For Merging | branch:release-4.6 branch:release-4.5"
The following branches are being fast-forwarded from the current development branch (master) as placeholders for future releases. No merging is allowed into these release branches until they are unfrozen for production release.

 - `release-4.6`
 - `release-4.5`

Contact the [Test Platform](https://coreos.slack.com/messages/CBN38N3MW) or [Automated Release](https://coreos.slack.com/messages/CB95J6

[2020-08-11 15:50] jomeier opened #94 "Restart docker service after hybrid-overlay-node process has been started"
Hi,

after starting the hybrid-overlay-node process on the windows node, the docker service must be restarted (and maybe also the kube-proxy service).

Without that Docker does not now about the new overlay networks.

Greetings,

Josef

[2020-10-07 20:49] lmm opened #134 "Support Calico networking"
Hi,

Currently the operator will only work with clusters using OVN kubernetes networking. Are there plans to support clusters using other networking plugins like Calico?

Thanks!

[2020-10-07 20:55] aravindhp commented on #134
Yes, we will in a future release.

[2020-10-09 01:39] gmarkley-VI commented on #94
Thank you this has been addressed in our upcoming operator.

[2020-10-09 16:07] aravindhp commented on #94
Fixed by https://github.com/openshift/windows-machine-config-operator/pull/104 and https://github.com/openshift/windows-machine-config-bootstrapper/pull/233

[2020-10-09 16:07] #94 closed

[2020-10-15 05:40] ddebroy opened #140 "Install csi-proxy.exe to enable CSI plugins for Windows"
csi-proxy is a pre-requisite for CSI plugins (example: [AzureDisk](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/example/windows/README.md#prerequisite), [AzureFile](https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/example/windows/README.md#prerequisite) and [GCE-PD](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pul

[2020-10-15 10:21] derek82511 opened #141 "support for on-premise OCP"
Can this Operator support for on-premise OCP 4.x ?
Or it is in the roadmap?

[2020-10-15 14:24] aravindhp commented on #140
@ddebroy this is on our roadmap and we hope to get to it after we GA.

[2020-10-15 14:25] aravindhp commented on #141
@derek82511, this is on our roadmap.

[2020-11-24 04:53] jasinner opened #189 "Ignition endpoint CA certificate is ignored when downloading bootstrap config"
Shouldn't we be aware of the ignition endpoint's CA certificate and pass that through to the bootstrapper so that I didn't have to ignore the hostname in the ignitions endpoints certificate?

https://github.com/openshift/windows-machine-config-operator/blob/a6f37986444cf20e390d40918dfe2dcc807245e4/pkg/controller/windowsmachine/windows/windows.go#L450

[2020-12-07 08:12] hatmarch opened #205 "Prevent large windows container image pull timeouts with kubelet configuration"
Many Windows Container images are huge (upwards of 5GB) and this can cause trouble with the windows node kubelet.  I've observed with [this image](https://quay.io/repository/mhildenb/hplussports-win?tab=tags) running on (an admittedly small) Standard_D2s_v3 windows node configured by the WMCO.  The issue is that the container is so big that it can't be unpacked before the (default 1 minute) image

[2020-12-07 16:11] aravindhp commented on #205
As per guidance from #sig-windows, the suggestion is for customers to prep the Windows worker VM image with the required container images. But we will collect more feedback to see if changes need to be made in this area.

PS: WMCO is a go operator

[2020-12-08 00:51] hatmarch commented on #205
Thanks for the response and the correction about the inner workings of the operator.

I don't quite understand why increased pull-progress-deadlines and preloading container images (or at least layers) are mutually exclusive.  Why not both?

Even adding the option to have the operator adjust pull times (annotation in the MachineConfig CR or something like that) would be welcome.  Or upping the --i

[2020-12-08 19:26] aravindhp commented on #205
Sure, based on feedback we might increase the timeout, however I doubt we will ever make the value of the time out configurable as within OpenShift we try to not introduce too many knobs.

[2020-12-21 04:49] jxadro commented on #141
Any news?

I think this operator is currently GA, in OpenShift console, in the operator hub tab it is under "Provided by RedHat", not under community.

In the roadmap it was in doubt if VMWare was going to be supported for windows nodes for the GA.

In the documentation it is only listed AWS and Azure.

Are windows nodes created on VMWare or Baremetal supported?

Thank you.

[2020-12-21 16:23] LorbusChris commented on #141
vSphere and Baremetal support are both on the roadmap, but not available yet.

Progress on vSphere support can be tracked here: https://github.com/openshift/windows-machine-config-operator/pull/149 (it's currently blocked on a Windows issue that'll have to be resolved from the Microsoft side)

[2021-01-20 15:42] jxadro commented on #141
Hi @LorbusChris, if I'm not wrong the PR has been currently merged.

What is the plan to move VMWare support for Windows Nodes to GA?

Thank you.

[2021-01-20 17:23] aravindhp commented on #141
@jxadro the plan is to release vSphere IPI support in WMCO in the 2.x version which will be released after OpenShift 4.7.

[2021-01-27 19:18] aravindhp commented on #141
Opened an OpenShift enhancement proposal to add support for `Bring Your Own Windows Host`: https://github.com/openshift/enhancements/pull/608

[2021-02-25 13:47] jxadro commented on #141
Hi @aravindhp

In the current documentation I read:
https://github.com/openshift/windows-machine-config-operator
"OKD/OCP 4.6 cluster running on Azure, AWS or vSphere configured with hybrid OVN Kubernetes networking"

With that prerequisite I understand that it is currently possible to deploy windows nodes in vsphere, but in your previous post you said that it will be in WMCO 2.x.

Please could yo

[2021-02-25 15:32] jxadro commented on #141
I have just installed a 4.7 OpenShift and I only see the community operator 2.0. So I guess the situation is that the windows operator currently support windows on vsphere but it is not GA yet.

Is this correct?

[2021-03-01 20:10] aravindhp commented on #141
Hi @jxadro,

That should be fixed to say `OKD/OCP cluster running on Azure (4.6+), AWS (4.6+) or vSphere (4.7+) configured with hybrid OVN Kubernetes networking`.

It has been scheduled for this week.

That is correct. To be clear the support is for adding Windows nodes using MachineSets on installer provisioned clusters on vSphere and will not support adding your own Windows hosts.

[2021-03-03 22:16] jxadro commented on #141
Thank you.

[2021-03-03 22:46] aravindhp commented on #141
@jxadro, WMCO 2.0 has been released: [OpenShift 4.7: Windows Container Support for Red Hat OpenShift on vSphere
](https://www.openshift.com/blog/windows-container-support-for-red-hat-openshift-on-vsphere)

[2021-03-07 07:55] #134 closed

[2021-03-10 15:34] jandradap commented on #141
vSphere IPI.

Is vSphere UPI on the roadmap? @aravindhp

[2021-03-10 16:16] aravindhp commented on #141
@jandradap yes it is. Please see [bring-your-own-windows-host.md](https://github.com/openshift/enhancements/blob/master/enhancements/windows-containers/bring-your-own-windows-host.md)

[2021-03-14 05:17] bobby0724 opened #340 "configuration failure"
After creating the machine-set for the windows worker nodes a new vm is created but the configuration failed and here is the error log

2021-03-14T05:12:08.407Z        ERROR   controller-runtime.controller   Reconciler error        {"controller": "windowsmachine-controller", "request": "openshift-machine-api/okd4lab-w-24lt8", "error": "failed to configure Windows VM 420956eb-f27a-c7d8-3339-7cfe47e

[2021-03-14 05:17] bobby0724 commented on #340
This is on OCP 4.7.1
Windows Operator 2.0

[2021-03-15 16:25] aravindhp commented on #340
@bobby0724 thanks for the report. Please post the Windows `MachineSet` yaml and the output of `oc get network.config -o yaml`.

[2021-03-15 20:23] bobby0724 commented on #340
machineset.yaml
apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: okd4lab-b28zb
  name: okd4lab-w
  namespace: openshift-machine-api
spec:
  replicas: 1
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: okd4lab-b28zb
      machine.openshift.io/cluster-api-machineset: okd4lab-w
  template:
    metad

[2021-03-15 21:43] aravindhp commented on #340
Are you using the `community` or the `Red Hat` version of operator?

On vSphere, please follow the [pre-requisites](https://github.com/openshift/windows-machine-config-operator/blob/master/docs/vsphere-prerequisites.md). You need to configure the cluster with a custom VXLAN port and use Windows Server 1909 VM image that includes the patch [KB4565351](https://support.microsoft.com/en-us/help/456535

[2021-03-15 21:48] bobby0724 commented on #340
I am using the RedHat Operator version 2.0
I am using Windows 2019 LTSC I cant use 1909 because that is a semi annual channel version that requires Software Assurance

Custom vxlan is configured

[okd4admin@sacla107 ~]$ oc get network.operator cluster -o jsonpath='{.spec.defaultNetwork}' | jq -r
{
  "ovnKubernetesConfig": {
    "genevePort": 6081,
    "hybridOverlayConfig": {
      "hybridClusterN

[2021-03-15 21:55] aravindhp commented on #340
Please open a Red Hat support ticket. GitHub issues are only for the community version of the operator.

Windows 2019 LTSC does not support the custom VXLAN port which is why the node setup is failing. As mentioned in the [pre-requisite](https://github.com/openshift/windows-machine-config-operator/blob/master/docs/vsphere-prerequisites.md):
- Create the VM from an updated version of Windows Server

[2021-03-15 21:57] bobby0724 commented on #340
thanks

[2021-03-18 06:09] CCChou opened #349 "Documentation typo"
Hi

I have tried the windows node on vsphere and find out there's a typo about the example [unattend.xml](https://github.com/openshift/windows-machine-config-operator/blob/master/docs/unattend.xml).

At line 5 the xmlns:xsi and processorArchitecture there's some extra space would make the vm broken after sysprep.

[2021-03-22 02:07] mansikulkarni96 commented on #349
@CCChou, thanks for the report. I will open a PR to fix the issue.

[2021-04-07 11:15] rbo commented on #340
@bobby0724 if you don't have any special network overlay on VMware/vSphere like NSX-(V|T). So simply use vSphere Standard Switch (VSS) or vSphere Distributed Switch (VDS) you can try Windows 2019 LTSC but than without `hybridOverlayVXLANPort` to use the default vxlan port 4789. Make sure there is no IPv6 enabled, that might cause issues.

[2021-04-15 13:28] amelie1979 commented on #205
/remove-lifecycle rotten

[2021-04-16 22:33] aravindhp commented on #340
@bobby0724 assuming this issue has been resolved.
/close

[2021-04-16 22:34] #340 closed

[2021-04-23 12:51] #189 closed

[2021-04-25 01:38] #205 closed

[2021-05-14 15:23] devopsdina opened #451 "Windows 1909 End of Support on May 11, 2021"
Are there plans to support other MachineSet images for Windows?

Windows 1909 has gone [end of support](https://docs.microsoft.com/en-us/lifecycle/end-of-support/end-of-support-2021) as of May 11, 2021.

[2021-05-14 17:13] aravindhp commented on #451
Which platforms are you asking for? We do support 1809 LTSC on AWS and Azure.

[2021-05-14 17:50] devopsdina commented on #451
Hi @aravindhp!

I working in AWS, I would like to use a public AMI.  When trying to use ami `ami-015451c8bbe8e7650` which is 1809, but I am not sure if it is LTSC?

Here is more information about what I am doing, let me know if I can provide any other information.

SSHed into the Windows Machine (worker) created from the MachineSet deployment, I can verify this:
![image](https://user-images.github

[2021-05-14 21:00] aravindhp commented on #451
Is this for the community or Red Hat version of the WMCO?

[2021-05-15 13:42] devopsdina commented on #451
Red Hat version

[2021-05-16 13:36] aravindhp commented on #451
We typically provide support here only for the community version. If this is a customer issue please open a support case.

In the meantime please attach the output of `oc get network.operator cluster -o yaml` and the WMCO logs `oc logs -f $(oc get pods -o jsonpath={.items[0].metadata.name} -n openshift-windows-machine-config-operator) -n openshift-windows-machine-config-operator`.

[2021-05-17 18:05] devopsdina commented on #451
Sure, here is the output of `oc get network.operator cluster -o yaml`.  FWIW, not a customer issue, just working on a POC.

[code]

![image](https://user-images.githubusercontent.com/41236025/118535291-4898be80-b718-11eb-9e4c-e14f3ab4f19d.png)

[2021-05-17 18:34] aravindhp commented on #451
The issue is that you have configured the AWS cluster with `hybridOverlayVXLANPort: 9898` and tried to use a `Windows Server 1809` version in the `MachineSet`. `1809` does not support the custom VXLAN port option. This is described in [configuring hybrid networking](https://docs.openshift.com/container-platform/4.7/windows_containers/enabling-windows-container-workloads.html#installing-wmco-using-

[2021-05-17 19:20] devopsdina commented on #451
Thanks @aravindhp , I will remove `hybridOverlayVXLANPort: 9898` and try with the `1809` option.

FWIW, I was reusing my networking configuration that worked with Windows 1909.  Which is now EOL...I was assuming (my fault there) that the network configuration would be transferable.

[2021-05-17 19:30] aravindhp commented on #451
Unfortunately it is not as the custom VXLAN port is dependent on a Windows feature which has not been added to the 1809 release.

[2021-05-17 21:16] EricPonvelle commented on #451
@aravindhp Would a note that says something like:

This note would go under "Item 2" of "Step 3" of the this process - https://docs.openshift.com/container-platform/4.7/installing/installing_aws/installing-aws-network-customizations.html#configuring-hybrid-ovnkubernetes_installing-aws-network-customizations

Does that work?

[2021-05-17 21:46] aravindhp commented on #451
I suggest using `Windows Server Long-Term Servicing Channel (LTSC): Windows Server 2019` instead of `1809` as mentioned in the [release notes](https://docs.openshift.com/container-platform/4.7/windows_containers/windows-containers-release-notes-2-x.html#wmco-2-0-0).

[2021-05-18 15:14] devopsdina commented on #451
Just circling back, I was able to successfully get a Windows Container up and running in AWS.  Per the guidance in this thread:

- I removed the `hybridOverlayVXLANPort` from the `cluster-network-03-config.yaml` file
- In the machineSet config, I used `ami-015451c8bbe8e7650` (Windows_Server-2019-English-Full-ContainersLatest-2021.04.14)
- I pre-pulled the docker image on the windows machine (this

[2021-05-18 15:14] #451 closed

[2021-06-24 00:46] aravindhp commented on #349
/remove-lifecycle stale

[2021-06-24 15:46] fredrik-furtenbach opened #484 "SSH key in Windows golden image"
I'm trying to configure Windows containers in OS 4.7 on vSphere, and I'm having some problems with my Windows golden image.

In the documentation you mention "Sysprep the VM. Use an unattend.xml that will maintain all the changes needed for the WMCO. The most important one being that the Administrator's home directory stays intact with the SSH public key." (https://github.com/openshift/windows-mac

[2021-06-25 19:58] #349 closed

[2021-06-28 07:49] fredrik-furtenbach commented on #484
I followed this instruction instead and created a C:\ProgramData\ssh\administrators_authorized_keys instead of .ssh in the Administrator home directory, seems to be working fine.

https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_keymanagement#administrative-user

[2021-06-28 16:54] aravindhp commented on #484
/assign @jrvaldes

[2021-06-28 17:07] jrvaldes commented on #484
@fredrik-furtenbach

Thanks for sharing this. As shown in the [Deploying the public key](https://github.com/openshift/windows-machine-config-operator/blob/master/docs/vsphere-golden-image.md#deploying-the-public-key) section of the documentation, the later approach is recommended.

See commit https://github.com/openshift/windows-machine-config-operator/commit/c8ff886a27213d6d77f709fc741cac3cb42a21

[2021-06-28 17:31] jrvaldes commented on #484
/close

[2021-06-28 17:31] #484 closed

[2021-07-08 23:29] aravindhp commented on #140
/reopen
/assign @alinaryan

[2021-07-08 23:29] aravindhp commented on #141
/remove-lifecycle stale
/assign @sebsoto

[2021-07-08 23:31] aravindhp commented on #141
/remove-lifecycle rotten

[2021-07-08 23:31] aravindhp commented on #140
/remove-lifecycle rotten

[2021-07-26 15:00] jomeier commented on #141
Hi, we think about creating an on premises OpenShift cluster with UPI in an air gapped environment to support windows containers to our business.

We also use MachineSets for vSphere to create our worker nodes. We would like to do the same for the windows workers.

Problem: the docs say that ...
- https://docs.openshift.com/container-platform/4.7/windows_containers/windows-containers-release-notes

[2021-07-27 07:11] jomeier commented on #141
I don't see any evidence in the WMCO source code why air gapped environments shouldn't work. The only reason why I could imagine that this is a problem is, that previously files had to be downloaded by the Windows Machine Bootstrapper. Currently this files seem to be included in WMCO's payload:
- cni
- hybrid-overlay-node.exe
- kube-node
- powershell
- windows_exporter.exe
- wmcb.exe

If airgapped

[2021-07-27 14:36] sebsoto commented on #141
Hi @jomeier at the moment air gapped environments will not work, as the pause image for all Windows pods is set to the image officially provided by microsoft. This is reflected in the [WMCB code](https://github.com/openshift/windows-machine-config-bootstrapper/blob/0d5d2f4fce523dfb6978b78c64705c9a123836ea/pkg/bootstrapper/bootstrapper.go#L44-L45), which handles the starting/stopping of kubelet.

T

[2021-07-27 14:39] jomeier commented on #141
@sebsoto:
Thanks for your answer. Because we use a pull through cache for docker images where our cluster can get images from the internet, do you think that this might work in that case?

[2021-07-27 14:45] sebsoto commented on #141
@jomeier I can't say with certainty, but as long as you can pull `mcr.microsoft.com/oss/kubernetes/pause:3.4.1` from the Windows instance you are trying to join to the cluster it should work.

[2021-07-27 14:50] sebsoto commented on #141
@jomeier  I say "should", as I don't know for sure. Github issues are us answering at best effort :)
If you have a subscription please open a support case through the Red Hat Customer Portal and you can get more definite answers. Off the top of my head the pause image is the main culprit for preventing air-gapped clusters, but there may be another blocker that I am not thinking of.

[2021-07-27 14:51] jomeier commented on #141
Thank you!

[2021-07-28 14:28] sebsoto commented on #141
@jomeier  Circling back here to answer the other questions:

Based on the wording that we put out, it is not officially supported, however as long as there is a Windows Machine (created through a MachineSet), WMCO shouldn't have an issue creating a Windows node. The intent behind not supporting UPI installations, is that we currently only support Windows nodes created through Windows MachineSets,

[2021-07-28 15:32] jomeier commented on #141
That's good news. Thank's a lot, @sebsoto.

[2021-08-10 06:45] philipp1992 opened #575 "kubelet.conf DNS server ip hardcoded"
we are using a custom subnet as hybridClusterNetwork of 100.124.0.0/16 and realized, that containers spawned on windows nodes always get the dns server 172.30.0.10 assigned.
In our case the kubernetes dns server would be 100.123.0.10 instead.

After looking into the windows nodes kubelet.conf, one can see, that the dns server ip 172.30.0.10 is hardcoded.

[2021-08-10 18:44] saifshaikh48 commented on #575
@philipp1992 Thank you for bringing this to our attention. I have created an issue to track this: [bz#1992228](https://bugzilla.redhat.com/show_bug.cgi?id=1992228). The team will work to prioritize this soon.

[2021-08-10 18:53] philipp1992 commented on #575
Awesome. You mention that the default gateway is wrong in the bugzilla which is not the case.its about the dns server.
Kind regards
Philipp

[2021-08-11 09:42] jomeier opened #579 "Feature request: Support airgapped setup on vSphere, make pause image location configurable/prepull pause image"
Hi,

as of https://github.com/openshift/windows-machine-config-operator/issues/141#issuecomment-887574152

the only reason, why airgapped OCP installations with Windows Containers are not supported seems to be that the pause image must be pulled from the internet.

Because we must provide our customers support for Windows Containers in production we are definitely interested to get support for thi

[2021-08-11 15:10] saifshaikh48 commented on #579
There does not seem to be any problems to me in the workaround you have tried and outlined. Glad to hear Windows containers ran without issue.

Air-gapped environment support is still something that is not officially supported, until we fully test and add documentation around it ourselves. I have created a few stories ([WINC-662](https://issues.redhat.com/browse/WINC-662) & [WINC-663](https://issu

[2021-08-11 15:49] jomeier commented on #579
@saifshaikh48
@aravindhp
Thank you !

@philipp1992
Could you provide the unattend.xml we used to create the initial setup of the workers and the steps we provided to create the golden image, please?

[2021-08-11 16:16] philipp1992 commented on #579
we used the unattend.xml provided in the docs minus the product-key section

https://docs.openshift.com/container-platform/4.8/windows_containers/creating_windows_machinesets/creating-windows-machineset-vsphere.html#creating-the-vsphere-windows-vm-golden-image_creating-windows-machineset-vsphere

by the way, since we are talking about the documentation and golden image, we found many errors within

[2021-08-11 16:59] aravindhp commented on #579
@jrvaldes please address @philipp1992's questions regarding the golden image creation process.

[2021-08-11 18:34] jrvaldes commented on #579
Dear @philipp1992, thanks for sharing your notes; there is an ongoing effort to correct the documentation around the golden image creation process, please refer to [c8ff886](https://github.com/openshift/windows-machine-config-operator/commit/c8ff886a27213d6d77f709fc741cac3cb42a21ee) and [48fbd2e](https://github.com/openshift/windows-machine-config-operator/commit/48fbd2e8dd1fd6363bde271dfd8bcab0c3

[2021-08-12 15:15] jrvaldes commented on #579
@jomeier, @philipp1992

As a follow-up see https://github.com/openshift/windows-machine-config-operator/pull/515/commits/90d680d529aa57c2585b9a641d1d80e5d0324399, you're right the `AutoLogon` feature is not needed. Thanks for calling it out.

[2021-10-22 11:41] jamorales85 opened #762 "Windows Node not completly ready in cluster"
We are trying to install the windows node on byoh.
We achieve add node to cluster by never completly and then node go out of the cluster (the operator later try the same procedure)

[code]

Eventos from
[code]

[2021-10-25 11:19] #762 closed, assigned to nobody

[2021-11-16 22:45] aravindhp commented on #575
/remove-lifecycle stale

[2021-11-23 07:51] #575 closed

[2021-11-23 14:08] SSvilen opened #826 "Service and Endpoints for the node exporters are not correctly configured"
The windows node exporter is installed on all windows worker nodes, but the required Service and Endpoint resources are no created at all.
There is a service object created, but it's from type ClusterIP, which in this case won't work.
The Service should be of type 'ExternalName'  and the Endpoints should be updated by the operator on every node join/deletion operation.
For instance:
[code]

[2021-11-23 15:17] mansikulkarni96 commented on #826
@SSvilen thanks for the provided information.

As you can see in the [manifests/windows-exporter_v1_service.yaml](https://github.com/openshift/windows-machine-config-operator/blob/master/bundle/manifests/windows-exporter_v1_service.yaml), the type is not set to ClusterIP.
The required service and endpoint names should be both `windows-exporter` as that name is used to get the resources in the oper

[2021-11-23 15:36] SSvilen commented on #826
@mansikulkarni96,

The monitoring for the namespace is enabled. The problem is that the node exporter is installed on the windows worker nodes and it's not running as a pod, like it is for the linux based os. So prometheus operator can not properly discover the endpoint for that servicemonitor.
So I had to recreate the service and manually create the endpoint object, which in turn points to the wi

[2021-11-23 15:53] mansikulkarni96 commented on #826
@SSvilen Thanks for confirming that.
The behaviour you see is the expected behaviour, windows-exporter runs as a Windows service on the Windows nodes which is different from it's linux counterpart due to support reasons.
Prometheus operator should be able to discover the endpoint, you can take a look at the [service_monitor.yaml](https://github.com/openshift/windows-machine-config-operator/blob/cb

[2021-11-23 17:16] SSvilen commented on #826
OK, I see what's happening.
[code]
and based on the code in [metrics.go ](https://github.com/openshift/windows-machine-config-operator/blob/cb5f6707181521a75cf06da208b962b448fda322/pkg/metrics/metrics.go#L132) an internal IP address is expected.

The status field of the machine shows type 'InternalDNS'

[code]

I'm not sure why that is.

[2021-11-23 19:17] mansikulkarni96 commented on #826
@SSvilen can you provide details about the WMCO version, cloud provider, OCP version and the Windows Server version used for the VM?
This is what the support matrix looks like [Supported Cloud Providers based on OKD/OCP Version and WMCO version](https://github.com/openshift/windows-machine-config-operator/blob/master/docs/wmco-prerequisites.md#supported-cloud-providers-based-on-okdocp-version-and-

[2021-11-24 14:06] SSvilen commented on #826
@mansikulkarni96 ,

WMCO 3.1
OCP 4.8
Windows 20H2

But it would be also beneficial, if there is a bit more logging. For instance [here](https://github.com/openshift/windows-machine-config-operator/blob/cb5f6707181521a75cf06da208b962b448fda322/pkg/metrics/metrics.go#L155). That would make the troubleshooting easier.

[2021-11-24 14:57] mansikulkarni96 commented on #826
@SSvilen logging info noted.
According to your [comment](https://github.com/openshift/windows-machine-config-operator/issues/826#issuecomment-976732161), the Windows worker node is present, is that added by using WMCO?
If yes, then the "no internal IP address associated" error should have resolved on its own as the IP address is not just required for metrics but also for the SSH connection to the

[2021-11-25 09:09] SSvilen commented on #826
@mansikulkarni96 ,

[code]
Yes.

[code]
machinesSet

[network.txt](https://github.com/openshift/windows-machine-config-operator/files/7601563/network.txt)
[operatorlogs.txt](https://github.com/openshift/windows-machine-config-operator/files/7601568/operatorlogs.txt)
[machineSet.txt](https://github.com/openshift/windows-machine-config-operator/files/7601607/machineSet.txt)

Thanks!

[2021-11-25 12:34] SSvilen opened #829 "Pods metrics endpoint"
By default the pod metrics are getting scraped from the following kubelet endpoint:
/metrics/cadvisor

Which is more or less empty on windows machines.
I could workaroung that problem by creating new Service Monitor, which scrapes the mertics from the '/metrics/resource' [endpoint](https://github.com/kubernetes/kubernetes/pull/86282)

[code]

Now the CPU and memory consumption are visible in OpenS

[2021-11-25 16:42] SSvilen opened #830 "Windows Server 2022 / Docker shim deprecation"
Hello,

since I'm not sure where exactly I should post that kind of questions I am doing it here.
- For which version of OpenShift is the support for Server 2022 planned? My guess would be 2 version from now.
- Do you plan to support Dockershim beyond Kubernetes version 1.24? Or you plan also to drop the support also with that version.
- Which leads me to my next question: What are the plans for o

[2021-11-25 18:44] aravindhp commented on #830
We currently working on adding support for Windows Server 2022. We are in the process of deciding the OpenShift versions where the support will be added.

We do not plan to support Dockershim beyond 1.24

Adding support for ContainerD is currently underway.

[2021-11-25 19:54] aravindhp commented on #140
/remove-lifecycle rotten

[2021-11-25 23:42] aravindhp commented on #829
@SSvilen please provide your cluster details. Is this the on the same [cluster](https://github.com/openshift/windows-machine-config-operator/issues/826#issuecomment-977910431)? What does `oc adm top pod` return? Please provide a console screenshot.

[2021-11-26 13:33] SSvilen commented on #829
@aravindhp ,

sorry, I believe I didn't describe the problem correctly. The top alway worked, because of the metrics server.
The problem is the representation in the console, more specifically the deployment metrics dashboard.
![image](https://user-images.githubusercontent.com/10175251/143582966-8ee13a60-141e-441b-ab44-321b32570c62.png)

For the pod CPU metrics I modified the cluster-monitoring-op

[2021-11-30 20:22] mansikulkarni96 commented on #826
@SSvilen Thanks for providing the logs, from the operator logs I can see the IP address cannot be found to configure the Windows machine into a node. You should see the same issue if you try to `oc describe` the machine object, it is trying to configure. I suspect it has to do with the golden image creation for vSphere. Please make sure you have followed all the steps described in [vsphere-golden-

[2021-12-06 09:45] SSvilen commented on #826
@mansikulkarni96,

ok thanks. We'll look at it again.

[2022-01-09 16:27] #579 closed

[2022-01-20 14:59] alinaryan commented on #140
Hi @ddebroy - I will be closing this issue as we are tracking this in our [Storage Epic](https://issues.redhat.com/browse/WINC-26). Please follow along there.

[2022-01-24 14:34] alinaryan commented on #140
/close

[2022-02-23 23:11] aravindhp commented on #830
/close

Please follow [Windows Containers: containerd](https://issues.redhat.com/browse/WINC-505) and [Include support for Windows Server Version 2022 in WMCO/WMCB](https://issues.redhat.com/browse/WINC-602)

[2022-02-23 23:12] #830 closed

[2022-04-07 01:04] mtnbikenc commented on #13
/lifecycle frozen

[2022-04-19 11:14] SSvilen opened #1031 "Upgrade to version 4.9.26 breaks network connection between Linux and Windows pods"
**Describe the bug**
We noticed that after upgrade to 4.9.26 we lost connectivity between Linux and Windows pods (both directions). The pods however are able to communicate with external networks.
The problem affects 2 different clusters after upgrade, so it can’t be coincidence.

1. WMCO & OpenShift Version - 4.0.1 & 4.9.26
2. Platform - vSphere

Are you aware of any issues. In case logs are requ

[2022-04-20 14:53] sebsoto commented on #1031
Hi @SSvilen,
Is this an issue specific to Windows workloads running during the upgrade process? Does restarting the pods fix this issue, or are you finding that all Windows pods on OCP 4.9.26 have this issue?

[2022-04-22 14:23] MattPOlson opened #1033 "Internal API endpoint doesn't resolve"
**Describe the bug**
For an on-prem install in vSphere the operator fails to download the ignition file using the internal api server endpoint (https://api-int.clustername:6443/config/worker) when trying to add a machine using a machineset. For this type of install an external dns entry is no longer needed since coreos uses coredns running as static pods to resolve that endpoint. so it fails to do

[2022-04-22 17:43] #1033 closed

[2022-04-22 17:44] MattPOlson commented on #1033
I missed it in the doc here: https://docs.openshift.com/container-platform/4.10/windows_containers/creating_windows_machinesets/creating-windows-machineset-vsphere.html#enabling-internal-api-server-vsphere_creating-windows-machineset-vsphere

[2022-04-22 18:12] MattPOlson commented on #826
I'm seeing the same issue on vsphere, did you ever figure anything out?

[2022-04-25 15:59] selansen commented on #1031
pls post the support ticket here for reference and close this one if it is not related to WMCO.

[2022-05-05 12:39] SSvilen commented on #1031
@selansen,

Sorry I was on a vacation.
Case 03200229

I can confirm that reinstalling the cluster with version 4.9.25 resolved the problem.
We've disabled the upgrades for the time being.

[2022-05-09 16:37] mansikulkarni96 commented on #826
Can you provide including details about your setup from this [comment](https://github.com/openshift/windows-machine-config-operator/issues/826#issuecomment-977956306) so I can help you further.

[2022-05-10 07:37] SSvilen commented on #826
You need a working reverse DNS - during the addition of the windows worker node, the operator creates the endpoints.

[2022-05-10 12:58] MattPOlson commented on #826
The cluster is running in vsphere and we are using machinesets to provision the servers.  If change the service to be of type 'ExternalName' and create an endpoint that includes the node it works fine, its just not happening automatically like it should.

[2022-05-10 14:09] MattPOlson commented on #826
Reverse DNS lookup works fine in our network, the internal IP still isn't being populated on the machine so the endpoint isn't being created.

`ping -a 10.33.*.*

Pinging k8s-se-****************** [10.33.*.*] with 32 bytes of data:
Reply from 10.33.*.*: bytes=32 time=2ms TTL=121
Reply from 10.33.*.*: bytes=32 time=2ms TTL=121

[2022-05-10 18:39] MattPOlson commented on #826
Its throwing this error. I'm trying to figure out where/how in the code the operator gets the external IP address. They are provisioned as machine sets.

`DEBUG	controller.windowsmachine	invalid Machine	{"name": "k8s-se-platform-01-bq57b-win-lprdv", "error": "no internal IP address associated", "errorVerbose": "no internal IP address associated\ngithub.com/openshift/windows-machine-config-operator

[2022-05-10 18:54] mansikulkarni96 commented on #826
@MattPOlson can you add the full WMCO log snippet? Those are just the initial debug logs, which should resolve themseleves once the IP for the machine is available.

[2022-05-10 19:08] MattPOlson commented on #826
@mansikulkarni96 sure.
[windows-machine-config-operator-8dc56cbb7-wfhdh-manager.log](https://github.com/openshift/windows-machine-config-operator/files/8664335/windows-machine-config-operator-8dc56cbb7-wfhdh-manager.log)

[2022-05-11 13:17] jrvaldes commented on #1031
/close

[BZ#2084098](https://bugzilla.redhat.com/show_bug.cgi?id=2084098) is tracking this issue with Network Team.

[2022-05-11 13:17] #1031 closed

[2022-05-25 12:48] MattPOlson commented on #826
Any updates on this, I feel like this is either a legit issue or something isn't documented correctly as far as the setup goes. I looked through the code but I can't figure out why the internal IP still isn't being populated on the machine so the endpoint isn't being created.

[2022-06-07 06:46] burkhat opened #1095 "Support for for Windows Server 2022"
Hello together,

since a few months following ticket is closed: https://issues.redhat.com/browse/WINC-602

But since then we got no update when the new Version of WMCO is available to support Windows Server 2022.

Do you have any updates?

Regards
Tobias

[2022-06-07 15:36] saifshaikh48 commented on #1095
Windows Server 2022 support on vSphere and platform agnostic clusters/baremetal is coming in WMCO 5.1.0 (OCP 4.10). GA scheduled for next week.

Windows Server 2022 support on AWS and Azure is planned for WMCO 6.0.0, releasing when OCP 4.11 comes out.

Best,
Mohammad

[2022-06-08 04:05] burkhat commented on #1095
Hello Mohammad,
Thanks for your reply.
I am looking forward to trying the new version

[2022-06-08 04:05] #1095 closed

[2022-06-09 13:35] MattPOlson opened #1097 "Machines are not being bootstrapped"
**Describe the bug**
I'm using a vSphere MachineSet to add instances to the cluster. The machine is provisioned in vSphere but the operator is unable to bootstrap the node, its throwing the following error below. This use to work with OKD version 4.9 and version 3.11 of the operator. However after upgrading the cluster to 4.10 and the operator to 5.0.0 it stopped.

`1.6547781923604517e+09 DEBUG co

[2022-06-28 19:19] MattPOlson commented on #1097
This is no longer an issue with version 5.1.1

[2022-06-28 19:19] #1097 closed

[2022-06-28 19:30] MattPOlson opened #1107 "Bootstrap in vSphere Environment Fails if Windows Defender Feature is not Installed"
**Describe the bug**
In a vSphere environment if the Windows Defender Feature is not Installed in the golden image the operator fails to bootstrap the node. It tries to configure the windows defender exclusion for the containerd service by calling Add-MpPreference. Add-MpPreference is only available if the Windows Defender Feature is installed.

`1.656434951067332e+09 DEBUG wc 10.33.154.128 settin

[2022-06-29 16:08] mansikulkarni96 commented on #1107
/assign @mansikulkarni96

[2022-07-01 21:00] mansikulkarni96 commented on #1107
Closing this issue as the PR linked above has been merged and the issue has been addressed.
/close

[2022-07-01 21:00] #1107 closed

[2022-07-06 20:01] MattPOlson opened #1124 "Configure Nodes to Access Secure Registries"
This is a feature request for the following. With the current version of the operator that uses containerd the toml file at C:\k\containerd on each of the nodes needs to be modified to allow auth to the private registry. Currently every time a windows node is provisioned there is a manual step to allow it to pull from the registry. If the operator could read from the same secret that the coreos no

[2022-07-12 20:54] MattPOlson commented on #826
This is still as issue in version 5.1.1. I have to update the endpoint manually to get any metrics back from the windows nodes.

/reopen

[2022-07-13 13:04] sebsoto commented on #826
I'll look into this today

/reopen

[2022-07-13 14:16] MattPOlson commented on #826
[windows-machine-config-operator-76cd78c4f5-45kv9-manager.log](https://github.com/openshift/windows-machine-config-operator/files/9103011/windows-machine-config-operator-76cd78c4f5-45kv9-manager.log)

[2022-07-13 14:28] sebsoto commented on #826
Seeing
[code]
and
[code]
In the logs but the ns has the correct `openshift.io/cluster-monitoring=true` label on it

[2022-07-19 14:43] jrvaldes commented on #1124
@MattPOlson, [WINC-846](https://issues.redhat.com/browse/WINC-846) was created to track this work.

[2022-08-01 13:17] MattPOlson commented on #829
This still seems to be an issue, is there a plan to fix this in a future release? I was able to get metrics by creating the new service monitor as describe above and creating the following two new rules in windows-prometheus-k8s-rules PrometheusRule instance

        - expr: >-
            sum(rate(container_cpu_usage_seconds_total{pod!=""}[5m])) BY (pod,
            namespace)
          record: '

[2022-08-01 13:45] mansikulkarni96 commented on #829
@MattPOlson yes there is a plan to add support for pod metrics it is being tracked in JIRA here https://issues.redhat.com/browse/WINC-568

[2022-08-03 18:39] sebsoto commented on #1124
/reopen

[2022-08-03 18:40] sebsoto commented on #1124
Keeping this open so its tracked on Github as well

[2022-08-03 18:42] sebsoto commented on #829
/reopen
So we can track this on Github as well

[2022-08-03 18:43] sebsoto commented on #829
/remove-lifecycle rotten

[2022-08-04 16:00] saifshaikh48 commented on #140
/reopen

Keeping this open so its tracked on Github as well

[2022-08-12 12:30] hy-tomas-terala opened #1177 "Community operator fails install in OKD-4.10"
Tried installing operator from the operator hub in an OKD cluster on vSphere. Used all default values and checked the box for 'Enable Operator recommended cluster monitoring on this Namespace'. Install was waiting for a long time and sometimes flashed the following message:

InstallWaiting: installing: waiting for deployment windows-machine-config-operator to become ready: deployment "windows-mach

[2022-08-12 13:08] hy-tomas-terala commented on #1177
Below the csv file for the install

[clusterserviceversion-community-windows-machine-config-operator.v5.1.2.txt](https://github.com/openshift/windows-machine-config-operator/files/9316475/clusterserviceversion-community-windows-machine-config-operator.v5.1.2.txt)

[2022-08-12 13:23] sebsoto commented on #1177
@hy-tomas-terala
There should be a `windows-machine-config-operator-*` pod failing to deploy in the namespace  `openshift-windows-machine-config-operator`.
Can you share the logs for that pod? It should explain why the deployment is failing.

[2022-08-12 13:26] hy-tomas-terala commented on #1177
[logs-windows-machine-config-operator-*.txt](https://github.com/openshift/windows-machine-config-operator/files/9316576/logs-windows-machine-config-operator-.txt)

Hope this helps, somehow I only got these logs by not checking the box for 'Enable Operator recommended cluster monitoring on this Namespace'

[2022-08-12 13:34] sebsoto commented on #1177
Thanks, the issue is your cluster uses `OpenShiftSDN` networking.
Your cluster needs to be set up with hybrid OVN networking in order to use this operator.
More information [here](https://github.com/openshift/windows-machine-config-operator/blob/master/docs/wmco-prerequisites.md#supported-networking).

Unfortunately I don't think there is an easy way to transition from one network setup to another

[2022-08-15 06:25] hy-tomas-terala commented on #1177
Thank you Sebastian for your help! Since this issue is on our end, I'm closing the issue.

[2022-08-15 06:25] #1177 closed

[2022-09-09 08:34] SSvilen opened #1240 "[Bug]: Check if Defender is running is wrong"
### Attention

- [X] I am using the community version of WMCO

### Version

OCP

### Cluster Version

4.11

### Platform

vSphere

### Proxy

Yes, without HTTPS

### WMCO Version

6.0.0

### Windows version

2022

### What happened?

The check, whether or not Defender is running is wrong. [SourceCode](https://github.com/openshift/windows-machine-config-operator/blob/5928b620ee7fdf3d1328e7d393ea8c6

[2022-09-09 16:09] mansikulkarni96 commented on #1240
thanks for opening up the issue @SSvilen, we will make this a part of our next grooming.

[2022-09-14 19:36] MattPOlson commented on #1240
We ran into this problem also and I opened the original bug for it. I found that if the Windows Defender feature was not installed then the module isn't there. But if the feature is installed then the module is there, I was able to work around it by just installing the windows feature and then disabling the firewall. I think this would be a good way to determine if the feature is there or not.

`P

[2022-09-20 05:58] SSvilen commented on #1240
@mansikulkarni96  any news here? I would really like to have this fixed and avoid using workarounds.

[2022-09-20 17:32] mansikulkarni96 commented on #1240
@SSvilen yes there is a bug created in our backlog to tackle this https://issues.redhat.com/browse/OCPBUGS-1513
If this issue is affecting a production workload using the official Red Hat operator, my recommendation would be to raise the priority using the subscription account through the support channel.

[2022-09-21 16:43] Anandnatraj commented on #1240
@SSvilen which customer is this for? What's the criticality of the issue?

[2022-09-22 06:38] SSvilen commented on #1240
@Anandnatraj Aareon Deutschland Gmbh. We plan migration to 2022 on 8.10  (from Openshift 4.9 to 4.11) - so if there is hotfix released this or next week, that would be great..

[2022-10-18 15:36] sebsoto commented on #826
This can be solved through https://issues.redhat.com/browse/WINC-545

[2022-10-18 15:36] sebsoto commented on #826
/remove-lifecycle stale

[2022-10-18 15:36] sebsoto commented on #826
/lifecycle frozen

[2022-10-20 12:42] philipp1992 commented on #1240
when can we expect a fix for this ?

[2022-10-28 14:27] mtnbikenc opened #1299 "WINC-914: Merge blocker for active release | branch:release-4.8"
[WINC-914](https://issues.redhat.com//browse/WINC-914) Windows Machine Config Operator 3.1.2 Release

[2022-11-02 12:07] sebsoto commented on #1124
/remove-lifecycle stale

[2022-11-02 12:08] sebsoto commented on #1124
/lifecycle frozen

[2022-11-09 13:56] mtnbikenc commented on #1299
Windows Machine Config Operator 3.1.2 is released.

[2022-11-09 13:56] #1299 closed

[2022-11-11 18:29] #1240 closed